[core]
	autocrlf = true
[user]
	name = billow
	email = billow.fun@gmail.com
	signingkey = 63D61442E8D85CBBE7CA874B55B908D2D8897318
[commit]
	gpgsign = false
[url "https://github.com/"]
	insteadOf = git://github.com/
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[winUpdater]
	recentlySeenVersion = 2.21.0.windows.1
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[http]
	proxy = http://127.0.0.1:7890
