Calibre Library
Desktop
Documents
dotfiles
Downloads
Music
Pictures
R
RiderProjects
source
Videos
.anaconda
.android
.aria2
.bash_logout
.bash_profile
.bashrc
.bowerrc
.bundle
.cabal
.cache
.cargo
.CLion2019.2
.conda
.condarc
.config
.contentfulrc.json
.designer
.dotnet
.emacs#
.emacs.d
.emacs.d.bak
.fonts.conf
.gem
.gemrc
.gi_list
.git
.gitconfig
.gitignore
.gnupg
.gradle
.icons
.IntelliJIdea2019.2
.ipython
.irbrc
.java
.julia
.local
.m2
.mackup.cfg
.mono
.mozilla
.node-gyp
.node_repl_history
.npminstall_tarball
.nuget
.nv
.nvm
.opam
.pki
.Public
.PyCharm2019.2
.pylint.d
.python_history
.racket
.Rhistory
.Rider2019.2
.rstudio-desktop
.rustup
.sbt
.screenlayout
.spacemacs
.SpaceVim.d
.ssh
.stack
.subversion
.templateengine
.Templates
.TeXmacs
.themes
.vscode-cpptools
.vscode-oss
.wget-hsts
.bnd
.op
stale_outputs_checked
.npm
