[user]
	name = billow
	email = billow.fun@gmail.com
	signingkey = 603F70632BFEE500985451C4A3FC7AFAF1932697
[url "https://github.com/"]
	insteadOf = git://github.com/
[url "https://gitlab.com/"]
	insteadOf = git://gitlab.com/
[hub]
	protocol = git
[core]
	autocrlf = input
	editor = gedit
[http]
    proxy = http://192.168.1.3:7890
[credential]
	helper = cache --timeout=604800
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
