[core]
	sshCommand  = "'C:/Windows/System32/OpenSSH/ssh.exe'"
	autocrlf = true
[https]
	proxy = http://10.177.3.246:1080
[http]
	proxy = http://10.177.3.246:1080
[user]
	name = billow
	email = yaagnto@qq.com
	signingkey = 2A74A5914CA3253D88F19CACDD8A4AB1EE74D95C
[commit]
	gpgsign = true
[url "https://github.com/"]
	insteadOf = git://github.com/
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[winUpdater]
	recentlySeenVersion = 2.21.0.windows.1
