export GTK_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
export QT_IM_MODULE=ibus
ibus-daemon -drx

export LANG=en_US.UTF-8
export LC_CTYPE=zh_CN.UTF-8

http_proxy=http://10.177.3.246:1080/
export https_proxy=$http_proxy
export rsync_proxy=$http_proxy
export no_proxy="localhost,127.0.0.1,10.*,172.30.1.111,*.tuna.tsinghua.edu.cn"

# OPAM configuration
export OCAML_TOPLEVEL_PATH="/home/billow/.opam/system/lib/toplevel"
export PERL5LIB="/home/billow/.opam/system/lib/perl5:$PERL5LIB"
export MANPATH="$MANPATH:/home/billow/.opam/system/man"
export CAML_LD_LIBRARY_PATH="/home/billow/.opam/system/lib/stublibs"

# Mirror
export PIPENV_PYPI_MIRROR=https://pypi.tuna.tsinghua.edu.cn/simple
export RUSTUP_DIST_SERVER=https://mirrors.tuna.tsinghua.edu.cn/rustup
